 :root {
     --max_w: 900px;
     --thumb_w: 100px;
     --color_back: #ffffff;
     --color_post_odd: #ecf0f1;
     --color_post_even: #bdc3c7;
     --color_btn: #e74c3c;
     --color_bord: #7f8c8d;
     --color_background: #ffffff;
     --color_text: #000000;
 }

 * {
     font-family: monospace;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     padding: 10px;
     background-color: var(--color_background);
 }

 hr {
     border: 1px solid var(--color_bord);
 }

 #content {
     margin: 0 auto;
     background-color: var(--color_back);
     border: 1px solid var(--color_bord);
     box-shadow: 5px 5px var(--color_bord);
     max-width: var(--max_w);
     border-radius: 10px;
     color: var(--color_text);
 }

 .container {
     max-width: var(--max_w);
     margin: 0 auto;
     padding: 2rem;
 }

 .container_header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1rem;
 }

 nav {
     font-size: 1.2em;
     padding: 0 2rem;
     max-width: var(--max_w);
 }


 a:link {
     color: black;
 }

 a:visited {
     color: gray;
 }

 ul {
     list-style-type: none;
     padding: 0;
 }

 ul li:nth-child(odd) {
     background-color: var(--color_post_odd);
 }

 ul li:nth-child(even) {
     background-color: var(--color_post_even);
 }


 input {
     background-color: var(--color_back);
     border: 0;
     border-bottom: 1px solid var(--color_bord);
     margin-bottom: .5em;
 }

 input[type=text] {
     color: var(--color_text);
 }

 textarea {
     background-color: var(--color_back);
     border: 1px solid var(--color_bord);
     resize: none;
     width: 100%;
 }

 .btn {
     padding: 1rem 2rem;
     border: 1px solid var(--color_bord);
     background: transparent;
     font-size: 0.9em;
     border-radius: 2px;
 }

 .btn:hover {
     cursor: pointer;
     background: var(--color_btn);
     color: var(--color_background);
     border: 1px solid var(--color_background);
 }